<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>HillCodeReview - About</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand " href="/">Hill</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a class="nav-link active" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/report">Report</a>
                                </li>
                            
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row " >
                <div class="col-lg-6 mx-auto" >
                    <h1 class="mt-3">About</h1>
                    <p>Hi, my name is Calvin Hill. I'm a software developer in West Des Moines, Iowa.</p>
                    <img class="w-25 img-fluid" th:src="@{/img/right_square.jpg}"/>
                    
                </div>
    
            </div>        
        </div>
    </div>
  
</body>
</html>